.main {
    font-family: "Cairo", "Helvetica Neue", "Helvetica", sans-serif;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .sub-head{
    font-family: 'PTRootUI', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .label {
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
  
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .input {
    font-family: "Cairo", "Helvetica Neue", "Helvetica", sans-serif;
  
    font-size: 14px;
    padding: 8px 4px;
    margin-bottom: 25px;
  }
  .route {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 22px;
  }
  .link {
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", sans-serif;
    text-decoration: underline;
    color: #fa3910;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
  }
  .btn {
    font-size: 16px;
    text-transform: capitalize;
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    background-color: #fa3910;
    color: white;
    transition: opacity 0.3s;
    opacity: 1;
  }
  .btn:hover {
    opacity: 0.5;
    border: 1px solid #fa3910;
  }